<h1>Details & Modify your Coins</h1>
<br /><br />
{{!-- Action tiene que ser el mismo que la ruta post, por eso hemos puesto el ID dinámico  --}}
<form action="/wallet/{{walletCoin._id}}" method="POST">

  <label for="amount">Amount</label>
  <input type="number" name="amount" value="{{walletCoin.amount}}">

  <br><br>

  <label for="purchasePrice">Purchase Price $</label>
  <input type="number" name="purchasePrice" value="{{walletCoin.purchasePrice}}">

  <br><br>

  <button>Editar</button>

  <img src="{{walletCoin.image}}" alt="logo">
  <p>{{walletCoin.currentPrice}}</p>
  {{!-- <table>

    <thead>
      
    </thead>

    
    <tbody>
      <tr>
        <td>

        </td>
      </tr>
            
    </tbody>




  </table> --}}



</form>