<div id="wallet-list-container">

 <h1 id="wallet-list-title">Your Coins List</h1>

<table id="wallet-list-table">
  <thead id="wallet-list-thead">
    <th class="wallet-list-th" style="width:250px; height:75px;">Logo</th>
    <th class="wallet-list-th" style="width:250px; height:75px;">Name</th>
    <th class="wallet-list-th" style="width:250px; height:75px;">Amount</th>
    <th class="wallet-list-th" style="width:250px; height:75px;">Profit ($)</th>
    <th class="wallet-list-th" style="width:250px; height:75px;">Profit (%)</th>
    
  </thead>
  <tbody id="wallet-list-tbody">

    {{#each walletList}}
      <tr class="wallet-list-tr">
        <td class="wallet-list-td" style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;">
          <img src="{{this.cryptoImg}}" alt="Coin image" width="40px" />
        </td>

        <td td class="wallet-list-td" style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;">
          <a href="/wallet/{{this._id}}">
            {{this.cryptoName}}
          </a>
        </td>
        <td class="wallet-list-td" style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;">
          {{this.amount}}
        </td>
          </td>
        <td class="wallet-list-td" style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;">
          {{this.profit}}
        </td>
        <td class="wallet-list-td" style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;">
          {{this.profitPercentage}}
        </td>

       
      </tr>
    {{/each}}

   

  </tbody>


  
  

</table>
 
</div>

<div id="wallet-profit-container">

<h2 style="display: none ;" id="total-profit" style="color:azure"> Your Total pofit is: {{yourProfitDecimal}} $</h2>

<button id="ShowProfit" class="send-button">Calculate your profit</button>
<script>
  const show = document.querySelector("#ShowProfit");
  const totalProfit = document.querySelector("#total-profit");
  
  const showPrice =()=>{
    totalProfit.style.display='flex'
  }
  
    show.addEventListener('click',showPrice)
</script>

</div>



        
   

      
    
      
    
     
  

