<div>
  <h2>{{profile.username}}</h2>
  <h2></h2>
</div>

<h1>Your Position Details</h1>
<br /><br />

<br /><br />

<h2>{{walletList.cryptoName}}</h2>

<br /><br />

<img src="{{walletList.cryptoImg}}" alt="logo" />

<br /><br />

<p>Purchase Price: {{walletList.purchaseValue}}</p>
{{#each nowPrice}}
  <P>Current Price:{{this.current_price}} </P>
{{/each}}

{{! Action tiene que ser el mismo que la ruta post, por eso hemos puesto el ID dinámico  }}

<hr />

<h1>Edit your position</h1>

<br /><br />

<form action="/wallet/{{walletList._id}}" method="POST">

  <label for="amount">Amount: </label>
  <input type="number" name="amount" value="{{walletList.amount}}" />

  <br /><br />

  <label for="purchasePrice">Purchase Price ($): </label>
  <input
    type="number"
    name="purchasePrice"
    value="{{walletList.purchasePrice}}"
  />
  <br />

  <button class="btn btn-success">Modify</button>
</form>

<form action="/wallet/{{walletList._id}}/delete" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>