<div id="wallet-details-all">
  <div id="wallet-position-details">
    <h1>{{profile.username}} position details</h1>
    <br /><br />

    <br /><br />

    <h2 class="coins-details-name">{{walletList.cryptoName}}</h2>

    <br /><br />
    <div id="wallet-details-logo">
      <img src="{{walletList.cryptoImg}}" alt="logo" />

      <ul>
        {{! Position value estaba como "purchase Value", pero es erroneo. Lo que arroja esa cifra es cantidad comprada * precio }}
        <li>Position Value: $ {{walletList.purchaseValue}}</li>
        {{#each nowPrice}}
          <li>Current Price: $ {{this.current_price}} </li>
        {{/each}}

        <li>Purchase Price: {{walletList.purchaseValue}}</li>
        {{#each nowPrice}}
          <li>Current Price:{{this.current_price}} </li>
        {{/each}}
      </ul>

    </div>

    {{! Action tiene que ser el mismo que la ruta post, por eso hemos puesto el ID dinámico  }}

  </div>

  <hr id="vertical-hr" />

  <div id="wallet-position-edit">
    <h2 class="coins-details-name">Edit position</h2>

    <br /><br />

    <form action="/wallet/{{walletList._id}}" method="POST">

      <label for="amount">Amount: </label>
      <br />
      <input
        type="number"
        name="amount"
        value="{{walletList.amount}}"
        step="0.00000001"
      />

      <br /><br />

      <label for="purchasePrice">Purchase Price ($): </label>
      <br />
      <input
        type="number"
        name="purchasePrice"
        value="{{walletList.purchasePrice}}"
        step="0.00000001"
      />
      <br />
      <br />
      <button class="modify-button-wallet">Modify</button>
    </form>

    <form action="/wallet/{{walletList._id}}/delete" method="POST">
      <button id="red-hover" class="modify-button-wallet">Delete</button>
    </form>

  </div>
</div>