<div id="wallet-list-container">

 <h1 id="wallet-list-title">Your Coin List</h1>

<table id="wallet-list-table">
  <thead id="wallet-list-thead">
    <th class="wallet-list-th" style="width:185px; height:35px;">Logo</th>
    <th class="wallet-list-th" style="width:185px; height:35px;">Name</th>
    <th class="wallet-list-th" style="width:185px; height:35px;">Amount</th>
    <th class="wallet-list-th" style="width:205px; height:35px;">Profit ($)</th>
    <th class="wallet-list-th" style="width:205px; height:35px;">Profit (%)</th>
    
  </thead>
  <tbody id="wallet-list-tbody">

    {{#each walletList}}
      <tr class="wallet-list-tr">
        <td class="wallet-list-td" style="width:185px; height:30px;">
          <img src="{{this.cryptoImg}}" alt="Coin image" width="20px" />
        </td>

        <td td class="wallet-list-td" style="width:185px; height:30px;">
          <a href="/wallet/{{this._id}}">
            {{this.cryptoName}}
          </a>
        </td>
        <td class="wallet-list-td" style="width:185px; height:30px;">
          {{this.amount}}
        </td>
          </td>
        <td class="wallet-list-td" style="width:185px; height:30px;">
          {{this.profit}}
        </td>
        <td class="wallet-list-td" style="width:185px; height:30px;">
          {{this.profitPercentage}}
        </td>

       
      </tr>
    {{/each}}

   

  </tbody>


  <h2 style="color:azure"> Your Total pofit is: {{yourProfit}} $</h2>
  

</table>
 
</div>

        
   

      
    
      
    
     
  

