<h1>Your Coin List</h1>

<table>
  <thead>
    <th style="width:185px; height:35px;">Logo</th>
    <th style="width:185px; height:35px;">Name</th>
    <th style="width:185px; height:35px;">Amount</th>
    <th style="width:205px; height:35px;">Profit ($)</th>
    <th style="width:205px; height:35px;">Profit (%)</th>
    
  </thead>
  <tbody>

    {{#each walletList}}
      <tr>
        <td style="width:185px; height:30px;">
          <img src="{{this.cryptoImg}}" alt="Coin image" width="20px" />
        </td>

        <td style="width:185px; height:30px;">
          <a href="/wallet/{{this._id}}">
            {{this.cryptoName}}
          </a>
        </td>
        <td style="width:185px; height:30px;">
          {{this.amount}}
        </td>
          </td>
        <td style="width:185px; height:30px;">
          {{this.profit}}
        </td>
        <td style="width:185px; height:30px;">
          {{this.profitPercentage}}
        </td>

       
      </tr>
    {{/each}}

   

  </tbody>


  <h2 style="color:azure"> Your Total pofit is: {{yourProfit}} $</h2>
  

</table>

        
   

      
    
      
    
     
  

