<h1>Coin wall</h1>
<br>
{{! Es un bucle dentro de otro bucle porque es un array que contiene arrays que a su vez contiene objetos }}

<table id="priceTable">

  <thead>

    <th style="width:185px; height:35px;">Logo</th>
    <th style="width:185px; height:35px;">Name</th>
    <th style="width:185px; height:35px;">Symbol</th>
    <th style="width:185px; height:35px;">Current Price</th>
    <th style="width:185px; height:35px;">Change Percentage</th>
    <th style="width:185px; height:35px;">Market Cap</th>

  </thead>

  <tbody>

    {{#each marketCoin}}
      {{#each this}}

        <tr>

          <td style="width:185px; height:30px;">
            <img src="{{this.image}}" alt="Coin image" width="20px" />
          </td>

          <td style="width:185px; height:30px;">
            <a href="/coinprice/{{this.id}}">
              {{this.name}}
            </a>
          </td>

          <td style="width:185px; height:30px;">
            {{this.symbol}}
          </td>

          <td style="width:185px; height:30px;">
            {{this.current_price}}
          </td>

          <td style="width:185px; height:30px;">
            {{this.price_change_percentage_24h}}
          </td>

          <td style="width:185px; height:30px;">
            {{this.market_cap_rank}}
          </td>

        </tr>

      {{/each}}
    {{/each}}

  </tbody>

</table>