<div id="coins-prices-container">

  <h1 id="coins-prices-title">Coin wall</h1>
  <br />

  <form id="coins-prices-form" action="">
    <label for="search">Search Coin </label>
    <br>
    <input class="form-input" size="30" type="text" name="search" />
    <button id="nav-button">Search</button>
  </form>
  <br>

  <table id="coins-prices-table">

    <thead id="coins-prices-thead">

      <th class="coins-prices-th" style="width:250px; height:75px;">Logo</th>
      <th class="coins-prices-th" style="width:250px; height:75px;">Name</th>
      <th class="coins-prices-th" style="width:250px; height:75px;">Symbol</th>
      <th class="coins-prices-th" style="width:250px; height:75px;">Current
        Price</th>
      <th class="coins-prices-th" style="width:250px; height:75px;">Change
        Percentage</th>
      <th class="coins-prices-th" style="width:250px; height:75px;">Market Cap
        (Rank)</th>

    </thead>

    <tbody id="coins-prices-tbody">

      {{#each coinList}}

        <tr class="coins-prices-tr">

          <td
            class="coins-prices-td"
            style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;"
          >
            <img src="{{this.image}}" alt="Coin image" width="20px" />
          </td>

          <td
            class="coins-prices-td"
            style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;"
          >
            <a href="/coinprice/{{this.id}}">
              {{this.name}}
            </a>
          </td>

          <td
            class="coins-prices-td"
            style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;"
          >
            {{this.symbol}}
          </td>

          <td
            class="coins-prices-td"
            style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;"
            step="0.1"
          >
            {{this.current_price}}
            <span>$</span>
          </td>

          <td
            class="coins-prices-td"
            style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;"
          >
            {{this.price_change_percentage_24h}}
            <span>%</span>
          </td>

          <td
            class="coins-prices-td"
            style="width:185px; border-bottom: 5px solid rgb(49, 49, 49); height:70px;"
          >
            {{this.market_cap_rank}}

          </td>

        </tr>

      {{/each}}

    </tbody>

  </table>

</div>