<h1>Coin wall</h1>
{{! Es un bucle dentro de otro bucle porque es un array que contiene arrays que a su vez contiene objetos }}

{{#each marketCoin}}
  {{#each this}}
    

    <table id="priceTable">

      <tr>
        <td>
           
                 <img src="{{this.image}}" alt="Coin image" width="20px" />
           
        </td>
        <td>
            <a href="/coinprice/{{this.id}}">
                {{this.name}}
            </a>
          
        </td>
        <td>
          {{this.symbol}}
        </td>
        <td>
          {{this.current_price}}
        </td>
        <td>
          {{this.price_change_percentage_24h}}
        </td>

        <td>
          {{this.market_cap_rank}}
        </td>

      </tr>

    </table>
  {{/each}}
{{/each}}