<div id="coins-details-container">

  {{! <h1 id="coins-details-title">Coin details</h1> }}

  {{#each Detail}}

    <div id="coins-details-block1">

      <h2 class="coins-details-name">
        {{this.name}}
      </h2>

      <h3 id="coins-details-symbol">( {{this.symbol}} )</h3>
      <img src="{{this.image}}" alt="" width="150px" />
    </div>

    <div class="coins-details-block2">
      <h2 class="coins-details-name2">price</h2>

      <ul>
        <li>Current Price: {{this.current_price}} $</li>
        <li>High in 24h: {{this.high_24h}}$</li>
        <li>Low in 24h: {{this.low_24h}}$</li>
        <li>Price Change in 24h: {{this.price_change_24h}}%</li>
      </ul>
    </div>

    <div class="coins-details-block2">
      <h2 class="coins-details-name3">Market Cap</h2>
      <ul>
        <li>Market Cap: {{this.market_cap}}</li>
        <li>Market Cap Rank: {{this.market_cap_rank}}</li>
        <li>Total Volume: {{this.total_volume}}</li>
      </ul>

    </div>

  {{/each}}

</div>

{{! --------------------------------------------------------------------------- }}

<div id="chart-wallet-container">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <canvas id="myChart" width="20" height="4"></canvas>
  <script>
    const ctx = document.getElementById('myChart').getContext('2d'); const
    myChart = new Chart(ctx, { type: 'line', data: { //eje x e y labels: [{{coinDetailClear3}}],
    datasets: [{ label: "Price performance in 7 days", data: [{{coinDetailClear3}}],
    borderColor: "rgb(50,250,0,0.8)", }] }, options:{ scales:{ x: { ticks:{
    callback: function(value, index, ticks) { let day = value /24 let hour =
    value *60 return `${day.toFixed(0)} day` } } }, }, elements:{ line:{
    borderWidth: 5 }, point:{ radius:7, } } } });
  </script>

</div>