<h1>Coin details</h1>

<hr />

<table id="detailCoinTable">
  <thead>
    <th style="width:185px; height:35px;">Logo</th>
    <th style="width:185px; height:35px;">Name</th>
    <th style="width:185px; height:35px;">Symbol</th>
    <th style="width:185px; height:35px;">Current Price ($)</th>
    <th style="width:185px; height:35px;">High 24h ($)</th>
    <th style="width:185px; height:35px;">Low 24h ($)</th>
    <th style="width:185px; height:35px;">Price Change 24h</th>
    <th style="width:205px; height:35px;">Market Cap</th>
    <th style="width:205px; height:35px;">Market Cap Rank</th>
    <th style="width:185px; height:35px;">Volume</th>    
  </thead>

  <tbody>

    {{#each Detail}}  
        <td>
          <img src="{{this.image}}" alt="" width="75px" />
        </td>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.symbol}}
        </td>
        <td>
          {{this.current_price}}
        </td>
        <td>
          {{this.high_24h}}
        </td>
        <td>
          {{this.low_24h}}
        </td>
        <td>
          {{this.price_change_24h}}
        </td>
        <td>
          {{this.market_cap}}
        </td>
        <td>
          {{this.market_cap_rank}}
        </td>
        <td>
          {{this.total_volume}}
        </td>       
      </tr>
    {{/each}}
  </tbody>
</table>